body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.view_box {
  padding: 10px;
  width: 600px;
  margin: auto;
  border: groove;
  border-radius: 10px;
  margin-top: 50px;
  position: relative;
  border-top: 5px solid dodgerblue;
}
.question_title{
    padding: 5px;
}
.select {
  padding: 1px !important;
  width: 80px !important;
  font-size: small !important;
  margin-left: 5px !important;
}
.class_option{
    display: flex;
    padding: 5px;
}
.option_type{
    margin-top: inherit;
}