body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.view_box {
  padding: 10px;
  width: 600px;
  margin: auto;
  border: groove;
  border-radius: 10px;
  margin-top: 50px;
  position: relative;
  border-top: 5px solid dodgerblue;
}
